<section class="account-dashboard">
<!-- Personalized Welcome -->
<h2>Welcome <%= accountData.firstname %></h2>

<!-- Update Account Info Link -->
<p><a href="/account/update/<%= accountData.account_id %>" class="btn-link">Update Account Information</a></p>

<!-- Inventory Management Section -->
<h1>Inventory Management</h1>

<% if (messages && messages.length > 0) { %>
<ul><li class="flash"><%= messages[0] %></li></ul>
<% } %>

<ul class="inventory-links">
<li><a href="/inv/add-classification">Add New Classification</a></li>
<li><a href="/inv/add-inventory">Add New Inventory</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification to see those vehicles</p>

<%- classificationSelect %>

<div class="inventory-wrapper">
  <table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>
</section>
<script src="/js/inventory.js"></script>