<!-- views/errors/error.ejs -->
<h1><%= title %></h1>

<section class="error-message">
  <p><%- message %></p>
</section>

<section class="humor">
  <img src="/images/site/funny_error_message.png" alt="Funny error image" height="400px" width="400px"/>
  <p>Looks like something went wrong. But hey, at least you're not this cat!</p>
  <a href="/">Back to Home</a>
</section>
